<!DOCTYPE html>
<html>
	<head>
		<title>Shaan Sapra, Software Engineer, KPCB Fellow, Code Monkey</title>
		<%= favicon_link_tag "favicon.ico" %>
    <link href="/assets/application.sass" media="all" rel="stylesheet"/>
		<!-- <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"/> -->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <meta property="og:description" content="I am a third-year student at the University of Chicago studying Computer Science and Economics.After taking the Ruby on Rails course at The Starter League in Chicago's 1871, I have grown to love the world of software development and programming. I am experienced in MVC architecture and web development and familiar with the staging, testing, and deploying cycles of software development. I am always looking to solve meaningful challenges with innovative solutions and continually improve my technical skills." />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
		<meta name="viewport" content="width=device-width, user-scalable=no">
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta property="og:image" content="http://a4.res.cloudinary.com/hvqqwrowv/image/asset/profile-0bc9bf9a811785de1720755884199d11.jpg" />
    <meta property="og:title" content="Shaan Sapra" />
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>

		<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-47040705-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		</script>
	</head>

	<body>
		<div class="main">
			<%= render "header" %>
			<%= yield %>
		</div>
	</body>
</html>
